{% extends 'layout.html.twig' %}
{% set active = 'gram' %}

{% block container_content %}
	<h2>Oh noes, {{ code }} error!</h2>
	<p>{{ message }}</p>
	<p>Try going back to the <a href="{{ url('homepage') }}">Homepage</a></p>
{% endblock %}