{% extends 'layout.html.twig' %}
{% set active = 'gram' %}

{% block container_content %}
<h2>Your gram</h2>

<div>
    <h3>{{ gram.message }}</h3>
    <p>Uploaded: {{ gram.uploadDate|date("H:i d/m/Y") }}</p>
    <p style="line-height: 90%; letter-spacing:3px;">{{ gram.gramified|raw }}</p>
    <p>Share your gram:<input type="text" value="{{ url('gram', {gramified: gram.id }) }}" /></p>
</div>
{% endblock %}