{% extends 'layout.html.twig' %}
{% set active = 'homepage' %}

{% block container_content %}
<h2>'grams</h2>
    {% for gram in view.grams %}
<div>
    <h3>{{ gram.message }}</h3>
    <p>Uploaded: {{ gram.uploadDate|date("H:i d/m/Y") }}</p>
    <p style="line-height: 90%; letter-spacing:3px;">{{ gram.gramified|raw }}</p>
</div>
    {% else %}
<p>No uploads</p>
    {% endfor %}
{% endblock %}