{% extends "layout.html.twig"%}
{% set active = 'gram' %}
{% block main %}
<h1>Your gram</h1>
<div>
    <h2>{{ gram.message }}</h2>
    <p>Uploaded: {{ gram.uploadDate|date("H:i d/m/Y") }}</p>
    <div class="gram"><span>{{ gram.gramified|raw }}</span></div>
    <p>Share your gram:<input type="text" value="{{ url('gram', {gramified: gram.id }) }}" /></p>
</div>
{% endblock %}