{% extends "layout.html.twig"%}
{% set active = 'home' %}
{% block main %}
<h1>'grams</h1>
    {% for gram in grams %}
<div>
    <h2>{{ gram.message }}</h2>
    <p>Uploaded: {{ gram.uploadDate|date("H:i d/m/Y") }}</p>
    <div class="gram"><span>{{ gram.gramified|raw }}</span></div>
    <p><a href="{{ path('gram', {gramified: gram.id }) }}" title="Share your gram">View your gram</a></p>
</div>
    {% else %}
<p>No uploads</p>
    {% endfor %}
{% endblock %}